# 10250번

In [ ]:
a = int(input())

for _ in range(a):
  b, c, d = map(int, input().split())
  z = d // b
  if d%b == 0:
    print(f'{b*100+z}')
  else:
    print(f'{(d % b)*100+z+1}')

2
6 10 12
602
6 12 10
402

# 2775번

In [ ]:
a = int(input())
for _ in range(a):
  k = int(input())
  n = int(input())
  r = list(range(1, n+1))
  for _ in range(k):
    for i in range(1, n):
      r[i] += r[i-1]
  print(r[-1])

1
3
6
126

In [ ]:
sum(list(range(1,3+1)))

6

In [ ]:
list(range(1,15))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
r

[1, 3, 3]

# 2839번

In [ ]:
n = int(input())
z = n
cnt = 0
if n % 5 == 0:
  print(n/5)
elif n % 3 == 0:
  while True:
    cnt += 1
    z -= 3
    if z % 5 == 0:
      print(z // 5 + cnt)
      break
    elif z < 0:
      print(n//3)
      break
else:
  if n == 4:
    print(-1)
  elif k == 1 or 4:
    k = n % 5 
    print((n//5)-1 + (((n%5)+5) // 3))
  else:
    print(-1)

11
3

In [ ]:
print((11//5)-1 + (((11%5)+5) // 3))

3

In [ ]:
((11%5)+5)//3

2

In [ ]:
n = int(input())
cnt = 0
while n >=0:
  if n % 5 ==0:
    cnt += (n//5)      
    print(cnt)
    break
  n -= 3
  cnt += 1
else:
  print(-1)

11
3

# 10757

In [ ]:
a,b = map(int, input().split())
print(a+b)

9223372036854775807 9223372036854775808
18446744073709551615

#1011

In [ ]:
a = int(input())
x, y = map(int, input().split())
z = y-x-1
k = 0
cnt = 0
for _ in range(a):
  while True:
    cnt +=1
    if k == z:
      print(cnt+1)
    elif k < z:
      k += cnt
    else:
      k -= i - 1
      for i in range(z - k):
        if z == k:

In [ ]:
a = int(input())
x, y = map(int, input().split())
z = y-x-1

# 나중에 다시 풀어보기

# 1978

In [ ]:
a = input()
x =  map(int, input().split())
r = 0
for i in x:
  cnt = 0
  if i > 1:  
    for z in range(2, i):
      if i % z == 0:
        cnt +=1
    if cnt == 0:
      r += 1
print(r)

4
1 3 5 7
3

#2581

In [ ]:
a = int(input())
b = int(input())
l = []
for i in range(a, b+1):
  cnt = 0
  if i > 1:
    for k in range(2, i):
      if i % k == 0:
        cnt +=1
        break
    if cnt == 0:
      l.append(i)
if sum(l) == 0:
  print(-1)
else:
  print(sum(l))
  print(min(l))

64
65
-1

#11653

In [ ]:
a = int(input())
if a == 1:
  print('')
else:
  for i in range(2,a+1):
    if a % i == 0:
      while a % i ==0:
        print(i)
        a = a / i

72
2
2
2
3
3

#1929

In [ ]:
f, l = map(int, input().split())

for i in range(f, l+1):
  cnt = 0
  if i > 1:
    for k in range(2, int(i**0.5)+1):
      if i % k == 0:
        cnt += 1
        break
    if cnt == 0:
      print(i)

3 16
3
5
7
11
13

In [ ]:
int(3**0.5)+1

2

# 4948

In [ ]:
while True:
  n = int(input())
  if n == 0:
    break
  elif 1<= n <=123456:
    r = 0
    for i in range(n+1, 2*n+1):
      cnt = 0
      if i > 1:
        for k in range(2, int(i**0.5)+1):
          if i % k == 0:
            cnt += 1
            break
        if cnt == 0:
          r+=1
    print(r)

123456
10186
123457
0

In [ ]:
def sosu(n):
  if n == 0:
    return False
  for i in range(2, int(n**0.5)+1):
    if n % i == 0:
      return False
  return True

al = list(range(2, 246912))
sl = []

for i in al:
  if sosu(i):
    sl.append(i)

while True:
  n = int(input())
  cnt = 0
  if n == 0 :
    break
  for i in sl:
    if n < i <= 2*n:
      cnt +=1
  print(cnt)

1
1
10
4
13
3
100
21
10000
1033
100000
8392
0

# 9020

In [1]:
def sosu(n):
  if n == 0:
    return False
  for i in range(2, int(n**0.5)+1):
    if n % i == 0:
      return False
  return True

al = list(range(2, 10000))
sl = []

for i in al:
  if sosu(i):
    sl.append(i)

n = int(input())
for _ in range(n):
  m = int(input())
  tb = True
  nl = list(range(2, m))
  snl = list(set(sl)&set(nl))
  if len(snl) % 2 == 0:
    for i in range(len(snl)//2,0,-1):
      for k in range(len(snl)//2, len(snl)):
        if snl[i]+snl[k] == m:
          snli = snl[i]
          snlk = snl[k]
          tb = False
          break
      if tb == False:
        break
    print(f"{snli} {snlk}")
          
  else:
    for i in range(len(snl)//2+1,0,-1):
      for k in range(len(snl)//2+1, len(snl)):
        if snl[i]+snl[k] == m:
          snli = snl[i]
          snlk = snl[k]
          tb = False
          break
      if tb == False:
        break
    print(f"{snli} {snlk}")

3
8
3 5
10
5 5
16
5 11

In [15]:
def sosu(n):
  if n == 0:
    return False
  for i in range(2, int(n**0.5)+1):
    if n % i == 0:
      return False
  return True

al = list(range(2, 10000))
sl = []

for i in al:
  if sosu(i):
    sl.append(i)

n = int(input())
for _ in range(n):
  m = int(input())
  a = m//2
  b = m//2
  while True:
    if a + b == m:
      if sosu(a) and sosu(b):
        print(a, b)
        break
      else:
        a -=1
        b +=1

3
8
3 5
10
5 5
16
5 11

In [13]:
sosu(3) and sosu(5)

True

In [7]:
0 & 1 in a

True

In [ ]:
def sosu(n):
  if n == 0:
    return False
  for i in range(2, int(n**0.5)+1):
    if n % i == 0:
      return False
  return True

n = int(input())
for _ in range(n):
  m = int(input())
  a = m//2
  b = m//2
  while True:
    if a + b == m:
      if sosu(a) and sosu(b):
        print(f"{a} {b}")
        break
      else:
        a -=1
        b +=1

#1085

In [24]:
x, y, w, h = map(int, input().split())
print(min(x, y, w-x, h-y))

653 375 1000 1000
347

In [25]:
a, d = map(int, input().split())
b, e = map(int, input().split())
c, f = map(int, input().split())

if a == b:
  x = c
elif a == c:
  x = b
else:
  x = a
if d == e:
  y = f
elif d == f:
  y = e
else:
  y = d

print(x, y)

5 5
5 7
7 5
7 7

#4153

In [38]:
while True:
  a, b, c = map(int, input().split())
  if a == 0 & b == 0 & c == 0:
    break
  x = [a,b,c]
  x.sort(reverse=True)
  if x[0]**2 == x[1]**2+x[2]**2:
    print("right")
  else:
    print('wrong')

6 8 10
right
25 52 60
wrong
5 12 13
right
0 0 0

In [26]:
5a = [1,2,3]
a

[1, 2, 3]

In [28]:
a.sort(reverse=True)
a

[3, 2, 1]

In [37]:
while True:
  a, b, c = map(int, input().split())
  if a == 0 & b == 0 & c == 0:
    break

0 0 0

#3053

In [ ]:
a = int(input())

In [44]:
import math
a = int(input())
print(a*a*math.pi)
print(2*a*a)

21
1385.4423602330987
882

# [1002](https://pacific-ocean.tistory.com/106)

In [ ]:
t = int(input())
for i in range(t):
    x1, y1, r1, x2, y2, r2 = map(int, input().split())
    d = ((x2 - x1) ** 2 + (y2 - y1) ** 2) ** 0.5
    rs = r1 + r2
    rm = abs(r1 - r2)
    if d == 0:
        if r1 == r2:
            print(-1)
        else:
            print(0)
    else:
        if d == rs or d == rm:
            print(1)
        elif d < rs and d > rm:
            print(2)
        else:
            print(0)

# 10872

In [66]:
def factorial(n):
  result = 1
  if n > 0:
    result = n * factorial(n-1)
  return result
n = int(input())
print(factorial(n))

10
3628800

# 10870

In [ ]:
def x(n):
  if n <= 1:
    return n
  return x(n-1) + x(n-2)

n = int(input())
print(x(n))

# 11729

In [75]:
def hanoi_tower(n, start, end) :
    if n == 1 :
        print(start, end)
        return
       
    hanoi_tower(n-1, start, 6-start-end) # 1단계
    print(start, end) # 2단계
    hanoi_tower(n-1, 6-start-end, end) # 3단계
    
n = int(input())
print(2**n-1)
hanoi_tower(n, 1, 3)

3
7
1 3
1 2
3 2
1 3
2 1
2 3
1 3

# 2798

In [79]:
n, m = map(int, input().split())
l = list(map(int, input().split()))
l.sort()
result = 0
for i in range(n-2):
  for j in range(i+1, n-1):
    for k in range(j+1, n):
      if l[i]+l[j]+l[k] > m:
        continue
      else:
        result = max(result, l[i]+l[j]+l[k])
print(result)

10 500
93 181 245 214 315 36 185 138 216 295
497