In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
redwine = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv", sep=";", header=0)

In [3]:
redwine["type"] = 'red'
redwine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [4]:
redwine.shape

(1599, 13)

In [5]:
whitewine = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv", sep=";", header=0)

In [6]:
whitewine['type']='white'
whitewine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [7]:
# 와인데이터 합치기
wine = redwine.append(whitewine)

In [8]:
wine.shape

(6497, 13)

In [10]:
# 와인의 요약 통계, 단 type은 범주형이기에 나오지 않음
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [12]:
wine.quality.value_counts()

6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: quality, dtype: int64

In [14]:
# 와인의 타입별 품질 테이블 만들기
wine.groupby("type")['quality'].describe()

        count      mean       std  min  25%  50%  75%  max
type
red    1599.0  5.636023  0.807569  3.0  5.0  6.0  6.0  8.0
white  4898.0  5.877909  0.885639  3.0  5.0  6.0  6.0  9.0

In [15]:
# 시리즈로 만들어짐
wine.groupby("type")['quality'].quantile([0.25, 0.5, 0.75])

type
red    0.25    5.0
       0.50    6.0
       0.75    6.0
white  0.25    5.0
       0.50    6.0
       0.75    6.0
Name: quality, dtype: float64

In [17]:
# unstack 으로 컬럼을 정해 주면 데이터 프레임으로 만들어짐
wine.groupby("type")['quality'].quantile([0.25, 0.5, 0.75]).unstack("type")

type  red  white
0.25  5.0    5.0
0.50  6.0    6.0
0.75  6.0    6.0

In [20]:
# 2개 t-검정
wine.groupby("type")["quality"].aggregate(["std", 'mean'])
# 표준편차, 평균값 보기

            std      mean
type
red    0.807569  5.636023
white  0.885639  5.877909

In [21]:
import statsmodels.api as sm

In [24]:
red_q = wine.loc[wine["type"] == 'red', 'quality']
wt_q = wine.loc[wine["type"] == 'white', 'quality']

In [25]:
sm.stats.ttest_ind(red_q, wt_q)
# 리턴값 :  t통계량, p-value, df 기울기

(-9.685649554187696, 4.888069044201508e-22, 6495.0)

In [27]:
# p-valeu 값이 0.05보다 작은지 확인
sm.stats.ttest_ind(red_q, wt_q)[1] <= 0.05
# True 레드와 화이트 와인의 평균 차이가 있다, 기무가설 기각

True

In [38]:
# 와인 종류별 퀄리티 상관분석
wine_corr = wine.corr()
wine_corr.loc[(np.abs(wine_corr['quality']) > 0.3) & (np.abs(wine_corr['quality']) != 1), "quality"]
# np.abs 절대값으로 기준을 잡고 조회할 수 있음

density   -0.305858
alcohol    0.444319
Name: quality, dtype: float64

## 단순선형회귀

- 회귀의 목표는 연속형 반응 변수의 값을 예측하는 것
- 단순 선형 회귀란 설명 변수인 단일 특징과 단일 반응 변수 간에 선형 관계가 있다고 가정하고 초평면이라고 하는 선형 평면을 이용해 모델링 한 것
- 단순 회귀는 설명 변수의 차원과 반응 변수의 차원, 모두 2개의 차원을 가지며, 초평면은 한차원 낮은 1차원이 됨(1차원의 초평면은 선)

> y = 알파 + 베타x

- y : 반응 변수의 예측 값
- 절편항 알파와 계수 베타 : 알고리즘을 통해 학습하게 되는 모델의 파라미터
- x : 설명 변수

> 알고리즘을 이용해 학습하면 최적의 알파 베타 값을 찾아냄

### 최소 제곱법
- OLS(Ordinary Leat Squares) 또는 LLS(Linear Least Squares) 로 부름
- 단순 선형 회귀에서 모델을 최적화하는 파라미터 값을 훈련 데이터로부터 학습하는 방법
- 비용 함수 : 손실함수. 모델의 오차를 정의하고 측정하기 위해 사용
- 잔차 : residual. 훈련 오차로 훈련 데이터의 관측 값과 모델에 의한 예측값의 차이
- 예측 오차 : preidction error. 테스트 오차로 테스트 데이터의 관측 값과 모델에 의한 예측값의 차이

### 비용함수를 사용한 모델의 적홥화 척도 : RSS
- 반응 변수의 예측값이 훈련 데이터의 관측값과 가까워지면 모델이 적합화 되었다고 할 수 있음
- 모델 적합화의 척도 : 잔차 제곱 합(RSS: Residual Sum of Squares)