In [1]:
import numpy as np
from scipy import stats # numpy에 최빈값 함수가 없어 mode함수를 이용해 최빈값 구함

np.random.seed(0)

data = np.random.randint(0, 100, 10000)

mean = np.mean(data); print(f'평균값 : {mean.round(2)}')
median = np.median(data); print(f'중앙값 : {median}')
mode = stats.mode(data); print(f'최빈값 : {mode.mode[0]}, {mode.count[0]}')
# modeResult 타입은 mode와 count로 구성되어있음,

평균값 : 49.17
중앙값 : 49.0
최빈값 : 3, 125

In [2]:
mode

ModeResult(mode=array([3]), count=array([125]))

In [3]:
import numpy as np
from statistics import variance, stdev  # variance : 분산, stdev : 표준편차

np.random.seed(0)

points = np.random.randint(0, 100, 20)

var = variance(points);
print(f'분산 : {var}')
std = stdev(points)
print(f'표준편차 : {np.round(std, 2)}')
range = np.max(points) - np.min(points)
print(f'범위 : {range}')

print('사분위수 :')

for val in [0, 25, 50, 75, 100]:
    quantile = np.percentile(points, val)
    print(f"{val}% => {quantile}")

q1, q3 = np.percentile(points, [25, 75])
print(f"IQR : {q3 - q1}")

분산 : 662
표준편차 : 25.73
범위 : 79
사분위수 :
0% => 9.0
25% => 42.75
50% => 64.5
75% => 84.0
100% => 88.0
IQR : 41.25

In [4]:
import numpy as np
from scipy import stats # numpy에 최빈값 함수가 없어 mode함수를 이용해 최빈값 구함

x_bar , mu , sigma , n = 196, 200, 5.3, 20

t_sample = (x_bar - mu) / (sigma / np.sqrt(float(n)))
print(f'검정통계량 : {np.round(t_sample, 2)}')

alpha = 0.05
t_alpha = stats.t.ppf(alpha, n-1)
print(f't-table로부터의 임계값: {np.round(t_alpha, 3)}')

p_val = stats.t.sf(np.abs(t_sample), n-1)
print(f"t-table의 아래쪽 꼬리 p 값: {np.round(p_val, 4)}")

검정통계량 : -3.38
t-table로부터의 임계값: -1.729
t-table의 아래쪽 꼬리 p 값: 0.0016

In [5]:
import numpy as np
from scipy import stats

x, mu, s = 75, 56, 13.6

z = (x - mu) / s
print(f"z-score:{np.round(z,2)}")

p_val = 1- stats.norm.cdf(z)
print(f'학생이{x}점 이상 받을 확률: {np.round(p_val*100, 2)}%')

z-score:1.4
학생이75점 이상 받을 확률: 8.12%

In [9]:
import numpy as np
import pandas as pd
from scipy import stats

np.random.seed(0)

smoke = ['안함', '가끔', '매일', '심함']
exercise = ['안함', '가끔', '매일']

data = {"smoke" : np.random.choice(smoke, size= 500),
        "exercise" : np.random.choice(exercise, size=500)}

df = pd.DataFrame(data)
df.head()

  smoke exercise
0    안함       안함
1    심함       안함
2    가끔       매일
3    안함       가끔
4    심함       가끔

In [10]:
xtab = pd.crosstab(df.smoke, df.exercise)
xtab

exercise  가끔  매일  안함
smoke
가끔        38  39  45
매일        34  44  33
심함        45  44  51
안함        47  41  39

In [11]:
contg = stats.chi2_contingency(observed=xtab)
p_val = np.round(contg[1], 3)
print(f"P-값: {p_val}")

P-값: 0.668

In [12]:
import numpy as np
import pandas as pd
from scipy import stats

np.random.seed(0)

data = (np.random.rand(30).round(2) * 10).reshape(-1, 3)
df = pd.DataFrame(data=data, columns=['A', 'B', 'C'])
df

     A    B    C
0  5.5  7.2  6.0
1  5.4  4.2  6.5
2  4.4  8.9  9.6
3  3.8  7.9  5.3
4  5.7  9.3  0.7
5  0.9  0.2  8.3
6  7.8  8.7  9.8
7  8.0  4.6  7.8
8  1.2  6.4  1.4
9  9.4  5.2  4.1